.Rproj
.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Rdata
.Ruserdata
sc_analysis.Rproj
.httr-oauth
.DS_Store

env/*/*/*
env/*/.Rhistory
env/*/.RData
env/*/*.Rproj
!env/*/renv/activate.R

data/
output/*/*/*
!output/Testdata/*/*.html
references/





